<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links App</title>

    <!--GOOGLE FONTS-->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">

    <!--BOOSTRAP 4-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--FONTAWESOME-->
    <script src="https://use.fontawesome.com/e144fa451a.js"></script>

    <!--STYLE-->
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    {{> navigation }}
    {{{ body }}}

</body>
</html>